name: otp_hw_david_k_matyus
description: "Flutter homework project for OTP."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.5.1
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  riverpod_test: ^0.1.6
  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true
